*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body {
    
    background-color: #005f7c;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.game-box {
    width: 800px;
    max-width: 80%;
    background-color: rgb(68, 152, 177);
    border-radius: .3rem;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

div.Qs {
    display: flex;
    justify-content: center;
}

.buttGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.butt {
    /* --hue: var(--hue-neutral); */
    border: 1px solid black;
    background-color: rgb(252, 90, 90);
    border-radius: .3rem;
    padding: 5px 10px;
    color: ivory;
    outline: none;
}

.butt:hover {
    background-color: rgb(255, 116, 116);
}
.butt:focus {
    background-color: rgb(255, 116, 116);
}


.starter, .next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controlla {
    display: flex;
    justify-content: center;
    align-items: center;

}

.endScreen {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.hide {
    display: none;
}

